h3 {
  font-weight: 300;
}
.container {
  margin: 25% auto;
  border: steelblue solid;
  border-radius: 0.5em;
  width: 80%;
  height: 80%;
  padding: 0.75em;
}
.form-city {
  border: rgb(85, 70, 70) solid;
  border-radius: 0.5em;
  height: 2.75em;
  width: 100%;
  border-width: 0.02em;
  margin: 0.75em 0;
}
.btn {
  border-radius: 0.5em;
  border: rgb(85, 70, 70) solid;
  border-width: 0.02em;
  margin-bottom: 0.25em;
}
.btn:hover {
  background-color: steelblue;
  transition: 0.7s;
  border: none;
}

#temperature {
  font-size: 4em;
  font-style: bold;
}

#speed {
  justify-content: center;
  text-align: center;
  position: relative;
  margin-left: 30%;
}

#fahrenheit,
#celsius {
  font-size: 1.5em;
  color: orange;
  cursor: pointer;
}
